# Arquivos de credenciais 
.cred
*.pem

# Ambientes virtuais
.venv/
venv/
ENV/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários
*.log
*.tmp

# Configs do editor
.vscode/
.idea/
